*{ 
    margin: 0px; 
    padding: 0px; 
  } 
  body {
    font-family: 'Inconsolata';
    padding: 0px;
    margin: 0px;
    background-color: #FAEEC9;
  }
nav{
    box-shadow: 0 10px 10px -1px rgba(202, 202, 202, 0.199);
    background-color: white;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}
.nav_img{
    margin-left: 10%;
}
nav img{
  height: 40px;
  margin: 10px;
  cursor: pointer;
  height: 30px;
}
nav ul{
    display: none;
}

.card1
{
  width: 370px;
  height: 70px;
  background-color: #FDD500;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.textleft
{ 
  width:370px ;
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
  text-align: center;
  gap: 10px;

}
.textleft h6
{
  font-size: 16px;
  font-weight: 400;
  color: rgb(83, 83, 83);
}
.textleft h5
{
  font-size: 22px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.Large
{ 
  
  padding-top: 100px;
  
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  
}

.formcont{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form
{
    box-shadow: 0 5px 10px -1px rgba(116, 116, 116, 0.1);
    border-radius: 0 0 20px 20px;
    
    width: fit-content;
    height: fit-content;
    padding: 50px;
    background-color: #FCF4DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input
{
    width:250px ;
    height: 35px;
    border-radius: 10px;
    background-color: #F2E8C9;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
}
button:hover
{
  background-color: #F2E8C9;
}
h1
{
    font-size: 25px;
    font-weight: 400;
}
textarea
{
    width:250px ;
    height: 90px;
    border-radius: 10px;
    background-color: #F2E8C9;
    border: none;
    padding: 10px;
    
}
button
{
  font-family: 'Inconsolata';
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  border: none;
  background-color: #FDD500;
  cursor: pointer;
  letter-spacing: 1px;
}

  

@media (min-width: 767px) { 
  .options_icon{
    display: none;
}
.menu_icon{
  display: none;
}
.nav_img{
    margin: 10px;
}
nav ul li{
 font-family: 'Inconsolata';
 font-size: 15px;
 border: none;
 border-radius: 20px;
 font-weight: 600;
 
 padding: 7px 20px 7px 20px;
 letter-spacing: 1px;
 cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  border-bottom: 1px solid #FDD500;
}
.options_icon{
  display: none;
}
.menu_icon{
display: none;
}
.nav_img{
  margin: 10px;
  cursor: pointer;
  width: 20px;
}

nav ul{
  font-weight: 600;
  font-size: large;
  list-style: none; 
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  margin-top: 25px;
  gap: 30px;
  cursor: pointer;

}
li:hover{
background-color: #F2E8C9;
}
    nav button{
      font-family: 'Inconsolata';
      font-size: 15px;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        background-color: #FDD500;
        padding: 7px 20px 7px 20px;
        letter-spacing: 1px;
        cursor: pointer;
  
    }
button:hover
{
  background-color: #F2E8C9;
}

.Large
{ 
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
form
{
    box-shadow: 0 5px 10px -1px rgba(116, 116, 116, 0.1);
    border-radius: 20px 0 0 20px;
    
    padding: 40px 40px 20px 40px ;
    background-color: #FCF4DD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card1
{
  width: 350px;
  height: 416px;
  background-color: #FDD500;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}


.textleft
{ 
  width:370px ;
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  text-align: left;
  gap: 10px;

}

} 
