*{ 
  margin: 0px; 
  padding: 0px; 
} 
body {
  font-family: 'Inconsolata';
  padding: 0px;
  margin: 0px;
  
}
nav{
  box-shadow: 0 10px 10px -1px rgba(202, 202, 202, 0.199);
  background-color: white;
  width: 100%;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
.nav_img{
  margin-left: 10%;
}
nav img{
height: 40px;
margin: 10px;
cursor: pointer;
height: 30px;
}
nav ul{
  display: none;
}


/* ########## nav css is done ############ */


.main-box{
display: flex;
flex-direction: column;
gap: 30px;
}
.main-box h1{
  border-bottom: 2px solid rgb(255, 217, 0);
  align-self: center;
  font-weight: 400;
  font-size: 30px;
}
.main-box p{
  align-self: center;
  text-align: center;
}
.services-box{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.services-box .service{
  min-height: 200px ;
  background-color: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 50px 20px 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: 0.4s ease;
}
.service i{
  color:rgb(255, 217, 0);
}
.service p{
  color: #6c757d;
}
.service h2{
  font-weight: 500;
}
.services-box .service:hover i{
color: white;
}
.services-box .service:hover p{
color: white;
}
.services-box .service:hover h2{
  font-weight: 700;
}
.service:nth-child(1):hover{
  background: linear-gradient(45deg,
  rgb(255, 217, 0) 0% ,
  rgb(255, 115, 0) 100% );
  background-size: cover;
}
.service:nth-child(2):hover{
  background: linear-gradient(45deg,
  rgb(255, 217, 0) 0% ,
  rgb(255, 115, 0) 100% );
  background-size: cover;
}
.service:nth-child(3):hover{
  background: linear-gradient(45deg,
  rgb(255, 217, 0) 0% ,
  rgb(255, 115, 0) 100% );
  background-size: cover;
}
.service:nth-child(4):hover{
  background: linear-gradient(45deg,
  rgb(255, 196, 0) 0% ,
  rgb(255, 136, 0) 100% );
  background-size: cover;
}
.service:nth-child(5):hover{
  background: linear-gradient(45deg,
  rgb(255, 217, 0) 0% ,
  rgb(255, 115, 0) 100% );
  background-size: cover;
}
.service:nth-child(6):hover{
  background: linear-gradient(45deg,
  rgb(255, 217, 0) 0% ,
  rgb(255, 115, 0) 100% );
  background-size: cover;
}

/* ########## side-bar css is done ############ */

@media (min-width: 767px) { 
   
  .options_icon{
    display: none;
}
.menu_icon{
  display: none;
}
.nav_img{
    margin: 10px;
}
nav ul li{
 font-family: 'Inconsolata';
 font-size: 15px;
 border: none;
 border-radius: 20px;
 font-weight: 600;
 
 padding: 7px 20px 7px 20px;
 letter-spacing: 1px;
 cursor: pointer;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li a:hover{
  border-bottom: 1px solid #FDD500;
}
.options_icon{
  display: none;
}
.menu_icon{
display: none;
}
.nav_img{
  margin: 10px;
  cursor: pointer;
  width: 20px;
}

nav ul{
  font-weight: 600;
  font-size: large;
  list-style: none; 
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-right: 50px;
  margin-top: 25px;
  gap: 25px;
  cursor: pointer;

}
li:hover{
background-color: #F2E8C9;
}
  
  
  .options_icon{
    display: none;
}
.menu_icon{
  display: none;
}
.nav_img{
    margin: 10px;
    cursor: pointer;
    width: 20px;
}

nav ul{
    font-weight: 600;
    font-size: large;
    list-style: none; 
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    margin-top: 25px;
    gap: 30px;
    cursor: pointer;
}
nav button{
    font-family: 'Inconsolata';
    font-size: 15px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    background-color: #FDD500;
    padding: 7px 20px 7px 20px;
    letter-spacing: 1px;
    cursor: pointer;

}
nav button:hover
{
  background-color: #F2E8C9;
}

  } 

/* ########## media css is done ############ */

  .background{
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(./pictures/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    
  }
  
  footer{
    height: 70px;
    background-color:#FDD500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0%;
  }